<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white editable">You've already got what you need!</h2>
          <hr class="light" />
          <p class="text-faded editable">Yoga offers everything you need to get your new life up and running in no time! All of the practice and meditation we teach you, free and easy to use. No strings attached!</p>
          <a class="btn btn-default btn-xl js-scroll-trigger editable" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>