<header class="masthead" style="background-image: url({{ site.data.masthead.yogabackground }});">
    <div class="header-content">
      <div class="header-content-inner">
          <img src="img/lotus.svg"width-"120px"/>
        <h1 id="homeHeading" class="editable">YOGA<br />A journey to you with you for you</h1>
        <hr />
        <p class="editable">Still mind strong life</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger editable" href="#about">Start Today</a>
      </div>
    </div>
  </header>